*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background: #f2f2f2;
  color: #777;
}

form {
  /* max-width: 390px; */
  width: 390px;
  background: #fff;
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  display: block;
  /* font-family: Poppins-Bold; */
  font-size: 20px;
  color: #777;
  line-height: 5.2;
  text-align: center;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #EB5E28;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 25px;
  width: 100%;
  border: 1px solid #EB5E28;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}